body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;
    
}
ul{
    display: flex;
    gap:20px;
    list-style: none;
}
.headerlogo{
    height:70px;
    width: auto;
}
a{
    text-decoration: none;
    color: antiquewhite;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}
.content{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.top{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #1f2937;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;

}
.footer{
    display: flex;
    margin: 0;
}
.topimage{
    width: 300px;
}
button{
    background-color: #3882f6;
    border-radius: 8px;
}
.info img{
    width: 200px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
}
.facts{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    
}
.info{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid gray;
    padding:10px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
.info p{
    text-align: center;
}
.second{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 30px 100px;
}
.second h1{
    text-align: center;
}
.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    padding: 70px;
}